body
{
    margin: 0;
    padding-top:100px;
    
}
@media(max-width:1200px)
{
    body
    {
        padding-top: 65px
    }
}
/* ------------------------------ stat firest part of wep sit (menu) ------------------------- */

/* ------------------------------ end firest part of wep sit (menu) ------------------------- */
.mels
{
    background-image:url('../img/gallery/3.png');
    background-position: center;
    background-size: cover;
    position: relative;
    height: 400px
}
.mels::after
{
    content: "";
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    background: rgb(4, 14, 39,0.4);
    z-index: 1
}
.mels .over
{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    z-index: 2;
}
.mels .over h1
{
    font-size:60px;
    font-weight:550;
    font-family:"Pacifico"
}
















/* ------------------------------ start sacand part of wep sit (navbar) ------------------------- */
.navbar nav
{
    height: 100px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    position:fixed;
    background:#000;
    top:0;
    width:100%;
    margin: 0;
    left: 0;
    padding: 0 20px;
    z-index: 40
}
.navbar nav .list
{
    width:35%;
}
.navbar nav .social-icon
{
   width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end
}
.navbar nav .list > ul
{
    margin: 0;
    display:flex;
    position: relative
    
}
.navbar nav .list > ul > li > a
{
    font-family: "Paytone One";
    color: white;
    font-weight: 400;
    margin:0 10px;
    position: relative;
    text-decoration: none;
    font-size: 17px

}
.navbar nav .list > ul > li > .icon::after
{
    content: "\f107";
    font-family:'fontAwesome';
    position: absolute;
  
    
}
.navbar nav .list ul li ul
{
    position: absolute;
    background: white;
    padding:0 10px;
    top:43px;
    transform: translate(0,20px);
    opacity: 0;
    transition:0.4s ease-in-out;
    box-shadow: 2px 2px 6px #444    
}
.navbar nav .list ul li ul::after
{
    content: "";
    border-top:10px solid transparent;
    border-bottom:10px solid white;
    border-right:10px solid transparent;
    border-left:10px solid transparent;
    position: absolute;
    top:-20px;
    
    
}

.navbar nav .list ul li:hover ul{
    transform: translate(0);
    opacity: 1
}

.navbar nav .list ul li ul
{
    width:180px;
    
}
.navbar nav .list ul li ul li a,
.navbar nav .list ul li ul li a

{
    color:black;
    text-decoration: none;
    margin: 5px 0;
    display: block;
    font-size: 17px;
    font-weight:550;
    text-transform: capitalize;
    font-family: serif;
    transition:0.5s
}
.navbar nav .list ul li ul li a:hover
{
    padding-left: 10px
}

.navbar nav .list ul li .active
{
    display: block;
    font-family: "Paytone One";
    color:#F2C64D ;
    font-weight: 400;
    margin:0 10px;
    position: relative;
    text-decoration: none;
    border-bottom:2px solid #F2C64D;
    padding-bottom: 5px;
}

.navbar nav .logo
{
    width: 30%;
    text-align: center;
}
.navbar nav .list .sacandary::before
{
    content:attr(data-target);
    position: absolute;
    color:#F2C64D;
    width: 0;
    overflow: hidden;
    border-bottom:2px solid #F2C64D;
    font-family: "Paytone One";
    font-weight: 400;
    transition: 0.3s;
    padding-bottom: 5px

}
.navbar nav .list .sacandary:hover::before
{
    width:100%
}
.navbar nav .social-icon i
{
    color:white;
    cursor: pointer;
    margin: 0 10px;
    font-size:18px;
    transition: 0.2s
}
.navbar nav .social-icon button
{
    outline: 0;
    border:1px solid #F2C64D;
    padding: 12px 26px;
    font-size: 16px;
    font-weight: 550;
    color:#F2C64D;
    background:transparent;
    border-radius: 50px;
    margin: 10px;
    transition:0.2s ease-in-out
}
.navbar nav .social-icon button:hover{
    background:#F2C64D;
    color:white;
    
}

.navbar nav .social-icon i:hover{
    color:#F2C64D;
    
}
.navbar .smallest input
{
    display: none
}
.navbar .smallest > label i
{
    position: fixed;
    right:20px;
    top:20px;
    color:white;
    font-size: 30px;;
    cursor: pointer
    
}
.navbar .smallest aside
{
    transform: scale(1,0);
    opacity: 0;
    overflow: hidden
}
.navbar .smallest input:checked ~ aside
{
   transform: scale(1);
    opacity: 1
}

.navbar .smallest aside
{
    position: absolute;
    top:100px;
    left: 10%;
    right:10%;
    width: 80%;
    padding: 15px;
    background: white;
    transition: 0.5s
}
.navbar .smallest aside ul
{
    margin: 0;
}
.navbar .smallest aside > ul li a,
.navbar .smallest aside > ul li

{
    display: block;
    color:black;
    font-size: 17px;
    font-weight: 500;
    text-decoration:none;
    text-transform: capitalize;
    font-family: serif;
    transition:0.4s ease;
    margin: 5px 0
}
.navbar .smallest aside > ul li .active
{
    color:orange
}

.navbar .smallest aside > ul li a:hover,
.navbar .smallest aside > ul li:hover
{
    color:orange;
    cursor: pointer
}
.navbar .smallest aside > ul div ul
{
    margin-left: 30px;
    transition: 0.5s;
    height: 0;
    overflow: hidden
}
.navbar .smallest aside > ul div label{
    width:100%;
    position: relative;
    margin: 0
}
.navbar .smallest aside > ul div label::after
{
    content: "\f107";
    font-family:'fontAwesome';
    position: absolute;
    right:0;
    top:30%;
    transition: 0.4s
}
.navbar .smallest aside > ul div input:checked ~ label::after
{
    transform: rotate(180deg)
}
.navbar .smallest aside > ul div input:checked ~ ul
{
   height: 60px
}
.navbar .smallest aside > ul div input:checked ~ .another-drop
{
    height: 30px
}

@media(max-width:992px)
{
    .navbar nav
    {
        height:65px;
        background:black;
        padding:0 10px
    }
     .navbar nav .logo
    {
        text-align: left;
        height:70%;
        width: 10%;
    }
     .navbar nav .logo img
    {
        width:100%;
        height: 100%;
        border-radius:2px;
    }

}
@media(max-width:1200px) and (min-width:992px)
{
 .navbar nav
    {
        height:65px;
        background:black;
        padding:0 10px
    }
     .navbar nav .logo
    {
        text-align: right;
        height:70%;
        width: 10%;
        margin-left: 40px
    }
     .navbar nav .logo img
    {
        width:100%;
        height: 100%;
        border-radius:2px;
    }    
}
/* ------------------------------ end sacand part of wep sit (nav) ------------------------- */





/* ------------------------------ start part of wep sit (map) ------------------------- */
.map
{
    padding: 130px 0 90px;
}
.map .container div
{
    width:100%;
    height:500px; 
    position: relative

}
.map iframe
{
    width:100%;
    height:500px;
}
.map .container div::after
{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index: 10;
    left: 0;
    top:0
}
/* ------------------------------ sacand part of wep sit (map) ------------------------- */





/* ------------------------------  part of wep sit (form) ------------------------- */
.form
{
    padding:40px 0 250px
}
.form .container .row > div > h4
{
    font-family: 'Raleway', sans-serif;
    color: #1F1F1F;
    margin-bottom:30px;
    font-weight:600
}
.form .container .row > div textarea
{
    width:100%;
    height:170px;
    border:1px solid #ddd;
    padding:15px;
    outline: 0;
    margin-bottom:40px
}
.form .container .row > div textarea::-webkit-input-placeholder
{
    font-weight:500;
    font-style:italic
}
.form .container .row > div .inputs 
{
    justify-content:space-between;
}
.form .container .row > div .inputs > input
{
    width:49%;
    padding:7px 12px;
    border:1px solid #ddd;
    margin-bottom:40px
}
.form .container .row > div .inputs > input::-webkit-input-placeholder
{
    font-weight:500;
    font-style:italic    
}
.form .container .row > div > input
{
    width:100%;
    padding:7px 12px;
    border:1px solid #ddd;
    margin-bottom:40px
}
.form .container .row > div > button
{
    border:0;
    padding:9px 100px;
    background-image:linear-gradient(to left,red,black);
    font-weight:550;
    font-family:auto;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    -moz-transition:0.3s;
    transition:0.3s;
    color:white;
    font-size:18px
    
}
.form .container .row > div > button:hover
{
    background-image:linear-gradient(to right,red,black);
    color:white;
}
.form .container .row > div:last-child div i
{
    width:15%;
    color: #8f9195;
    font-size:30px;
}
.form .container .row > div:last-child > div{
    margin-bottom:40px
}
.form .container .row > div:last-child div div h4
{
    color:#2a2a2a;
    font-family: 'Raleway', sans-serif;
    font-size:17px;
    font-weight:600;
    margin-bottom: 0;
    opacity:0.9
}
.form .container .row > div:last-child div div p
{
    color:#8a8a8a;
    margin-bottom: 0
}







































/* ------------------------------  part of wep sit (form) ------------------------- */










/* ------------------------------ start nigne part of wep sit (footer) ------------------------- */
footer
{
    overflow: hidden
}
footer .pairant
{
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}
footer .pairant > div
{
    padding:0 20px;
    margin-bottom: 25px
}
footer .pairant .child1 h2,
footer .pairant .child3 h2

{
    color:#1A0D01;
    font-family:"Montserrat";
    font-weight:600;
    font-size:25px;
    margin-bottom: 30px
    
}
footer .pairant .child1 p
{
    font-size:17px;
    font-style:italic;
    color:rgba(0,0,0,0.7);
    margin-bottom:12px
}
footer .pairant .child1 a
{
    text-decoration: none;
    color:#F0542C;
    font-weight:700;
    font-family: "Montserrat";
    font-size:19px
}
footer .pairant .child3 .input
{
    position: relative;
    height: 40px;
    width: 100%;
    margin-bottom:40px
}
footer .pairant .child3 .input input
{
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    border-radius: 19px;
    border:1px solid #aaa;
    padding: 0 15px;
    outline: 0;
}
footer .pairant .child3 .input button
{
    height:40px;
    border:none;
    position: absolute;
    right:0;
    top:0;
    width:100px;
    border-radius: 19px;
    font-size:17px;
    color:white;
    font-weight: 600;
    background:#F0542C;
    outline: 0

}
footer .pairant .child3 p
{
    font-style: italic;
    font-size: 17px
}
footer .icons
{
    margin-bottom:60px
}
footer .icons ul li
{
    display: inline-block
}

footer .icons i
{
   display:flex;
    width: 56px;
    height: 56px;
    align-items: center;
    justify-content: center;
    color:#F0542C;
    font-size:18px;
    margin: 0 5px;
    border-radius: 50%;
    background:transparent;
    position: relative;
    cursor:pointer
}
footer .icons i::after
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border:1px dashed #F0542C;
    animation:spiner linear infinite 2.5s
}
footer .last-part
{
    padding:40px 0;
    text-align:center;
    border-top:1px solid #999
    
}
footer .last-part p
{
    font-size:18px;
    font-style: italic;
    text-align: center
}
footer .last-part p span
{
    color:#f0542c;
    cursor:pointer
}
footer 

@media(min-width:0)
{
    footer .pairant > div
    {
        width:100%
    }
}
@media(min-width:576px)
{
    footer .pairant > div
    {
        width:50%
    }
}
@media(min-width:992px)
{
    footer .pairant > div
    {
        width:33.333%
    }
}

































/* ------------------------------ end nigne part of wep sit (footer) ------------------------- */



































