body
{
    margin: 0;
    padding: 0
}
@media(max-width:1200px)
{
    body
    {
        padding-top: 65px
    }
}
.swiper-button-prev, .swiper-rtl .swiper-button-next 
,.swiper-button-next, .swiper-rtl .swiper-button-prev 
{
  color:#fff !important;
  width: 25px !important;
  height: 25px !important;
  margin-top:-80px !important
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 25px !important;
}
* ul {
    padding: 0
}
/* ------------------------------ stat firest part of wep sit (curosal) ------------------------- */
.carousel {
  position:relative
}
.carousel svg {
  width:100%;
  position: absolute;
  bottom:-5px;
  left:0;
  z-index: 50;
}
.header-curosal .swiper-slide
{
    height:110vh;
    align-items: center;
    justify-content: center;
}


.header-curosal a
{
    top:49%;
    width:60px;
    height:120px;    
    
}
.header-curosal .swiper-slide .back
{
    background:rgb(4, 14, 39,.4);
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center

}

.header-curosal .swiper-slide .back .over {
    width:100%;
    margin-top: -90px;
}
.header-curosal .swiper-slide .back .over div span
{
    background-image:url("../img/shape/1.png");
    padding:18px 42px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Paytone One";
    font-weight:400;
    color:white;
    font-size:20px;
    font-family: "Aref Ruqaa", serif;
}
.header-curosal .swiper-slide .back .over h2
{
    color:white;
    font-size:45px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 0.9;
    width:25%;
    margin: 20px auto;   
    font-family: "El Messiri", sans-serif;
    text-align: center !important;
    line-height: 1.2;

}
.header-curosal .swiper-slide .back .over > div {
    text-align: center !important;

}
.header-curosal .swiper-slide .back .over > span
{
    display: block;
    color:#E50101;
    margin-top: -120px;
    font-size:140px;
    font-family: "Cairo", sans-serif;

}
.header-curosal .swiper-slide .back .over > span::first-letter
{
    font-size:180px;
}
@media(max-width:576px)
{   .header-curosal .swiper-slide .back .over div 
    {
        margin-bottom: 30px;
    }
    .header-curosal .swiper-slide .back .over div span
    {
        font-size: 18px

    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next, .swiper-button-next, .swiper-rtl .swiper-button-prev
    {
      margin:30px  !important
    }

.header-curosal .swiper-slide .back .over h2
    {
        font-size:30px;
        width:100%;

    }
.header-curosal .swiper-slide .back .over > span
    {
    font-size:80px;
    margin-top: -50px;

    }
.header-curosal .swiper-slide .back .over > span::first-letter
    {
        font-size: 90px
    }

}

@media(min-width:576px) and (max-width:768px)
{   .header-curosal .swiper-slide .back .over div 
    {
        margin-bottom: 20px;
    }
    .header-curosal .swiper-slide .back .over div span
    {
        font-size: 18px

    }

.header-curosal .swiper-slide .back .over h2
    {
        font-size:60px;
        width:100%;
    }
    .header-curosal .swiper-slide .back .over > span
    {
    font-size:100px;
    margin-top: -50px;

    }
.header-curosal .swiper-slide .back .over > span::first-letter
    {
        font-size: 110px
    }

}@media(min-width:768px) and (max-width:992px)
{   .header-curosal .swiper-slide .back .over div 
    {
        margin-bottom: 20px;
    }
    .header-curosal .swiper-slide .back .over div span
    {
        font-size: 18px

    }
 
.header-curosal .swiper-slide .back .over h2
    {
        font-size:50px;
        width:80%;

    }
    
    .header-curosal .swiper-slide .back .over > span
    {
    font-size:120px;
    margin-top: -50px;

    }
.header-curosal .swiper-slide .back .over > span::first-letter
    {
        font-size: 130px
    }

}

/* ------------------------------ end firest part of wep sit (curosal) ------------------------- */

















/* ------------------------------ start sacand part of wep sit (navbar) ------------------------- */
.navbarSec {
    position:fixed;
    height: 85px;
    width:100%;
    top:0;
    margin: 0;
    left: 0;
    direction:  rtl;
    text-align: right;
    z-index: 400;
    border-bottom: 1px solid #eee;

}
.navbarSec nav
{
    width:100%;
    height: 100%;
    /* display:flex;
    align-items: center;
    justify-content:space-between; */
    background:#fff;
    padding: 0 50px;


}
.navbarSec nav .row {
    margin:0;
    align-items: center;
    height: 100%;
}
.navbarSec nav .row > div {
    height: 100%;
}
.navbarSec nav .list
{
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
}
.navbarSec nav .social-icon
{
   /* width: 35%; */
    display: flex;
    align-items: center;
    justify-content: flex-end
}
.navbarSec nav .social-icon svg {
  width: 18px;
  height: 18px;
  margin-top:-6px;
  fill:black
}

.navbarSec nav .list > ul
{
    margin: 0;
    display:flex;
    position: relative;
    justify-content: center;
    flex-grow: 1;

    
}
.navbarSec nav .list > ul > li > a
{
    font-family: "Cairo", sans-serif;
    color: #000;
    font-weight: 500;
    margin:0 10px;
    position: relative;
    text-decoration: none;
    font-size: 16px

}
.navbarSec nav .list > ul > li > a.active {
  font-weight: 600;

}
.navbarSec nav .list > ul > li > .icon::after
{
    content: "\f107";
    font-family:'fontAwesome';
    position: absolute;
  
    
}
.navbarSec nav .list ul li ul
{
    position: absolute;
    background: white;
    padding:0 10px;
    top:43px;
    transform: translate(0,20px);
    opacity: 0;
    transition:0.4s ease-in-out;
    box-shadow: 2px 2px 6px #444    
}
.navbarSec nav .list ul li ul::after
{
    content: "";
    border-top:10px solid transparent;
    border-bottom:10px solid white;
    border-right:10px solid transparent;
    border-left:10px solid transparent;
    position: absolute;
    top:-20px;
    
    
}

.navbarSec nav .list ul li:hover ul{
    transform: translate(0);
    opacity: 1
}

.navbarSec nav .list ul li ul
{
    width:180px;
    
}
.navbarSec nav .list ul li ul li a,
.navbarSec nav .list ul li ul li a

{
    color:black;
    text-decoration: none;
    margin: 5px 0;
    display: block;
    font-size: 16px;
    font-weight:400;
    text-transform: capitalize;
    font-family: "Cairo", sans-serif;
    transition:0.5s
}
.navbarSec nav .list ul li ul li a:hover
{
    padding-left: 10px
}


.navbarSec nav .logo a {
    display: block;
    height: 100%;
    width:100%;
}
.navbarSec nav .logo
{
    height: 100%;
    width:80px;
    text-align: center;
}
.navbarSec nav .logo a img {
    width: 100%;
    height: 100%;
} 
.navbarSec nav .list .sacandary::before
{
    content:attr(data-target);
    position: absolute;
    color:#E50101;
    width: 0;
    overflow: hidden;
    border-bottom:2px solid #E50101;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    padding-bottom: 5px;
    white-space: nowrap;

}
.navbarSec nav .list .sacandary:hover::before,
.navbarSec nav .list ul li .active::before {
    width:100%
}
.navbarSec nav .social-icon {
  height: 100%;
}
.navbarSec nav .social-icon i
{
    color:#000;
    cursor: pointer;
    margin: 0 10px;
    font-size:16px;
    transition: 0.2s
}
.navbarSec nav .social-icon > a
{
  font-family: "Cairo", sans-serif;
    outline: 0;
    padding: 7px 35px;
    font-size: 16px;
    font-weight: 550;
    background:transparent;
    border-radius: 50px;
    margin: 10px;
    transition:0.2s ease-in-out;
    -webkit-transition:0.2s ease-in-out;
    -moz-transition:0.2s ease-in-out;
    -ms-transition:0.2s ease-in-out;
    -o-transition:0.2s ease-in-out;
    display: block;
    text-decoration: none;
    background-color: #E50101;
    color:white;
    border:1px solid #E50101;

}
.navbarSec nav .social-icon > a:hover {
  color:#E50101;
  border:1px solid #E50101;
  background-color: transparent;

}
.navbarSec nav .social-icon button:hover{
    background:#E50101;
    color:white;
    
}

.navbarSec nav .social-icon i:hover ,
.navbarSec nav .social-icon svg:hover{
    color:#E50101;
    fill:#E50101
}
.navbarSec .smallest aside > i {
    position:absolute;
    top:12px;
    left: 12px;
    font-size: 25px;
    color:#000;
    cursor: pointer;
}
.navbarSec .smallest input
{
    display: none
}
.navbarSec .smallest > label i
{
    position: fixed;
    left:20px;
    top:32px;
    color:#000;
    font-size: 25px;;
    cursor: pointer
    
}
.navbarSec .smallest aside
{
    transform: scale(1,0);
    opacity: 0;
    overflow: hidden
}
.navbarSec .smallest  aside.active
{
   transform: scale(1);
    opacity: 1
}

.navbarSec .smallest aside
{
    position: absolute;
    top:100px;
    left: 10%;
    right:10%;
    width: 80%;
    padding: 15px;
    background: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.navbarSec .smallest aside ul
{
    margin: 0;
}
.navbarSec .smallest aside > ul li a,
.navbarSec .smallest aside > ul li

{
    display: block;
    color:black;
    font-size: 15px;
    font-weight: 400;
    text-decoration:none;
    text-transform: capitalize;
    font-family: serif;
    transition:0.4s ease;
    font-family: "Cairo";
    margin: 5px 0
}
.navbarSec .smallest aside > ul li .active
{
    color:#E50101
}

.navbarSec .smallest aside > ul li a:hover,
.navbarSec .smallest aside > ul li:hover
{
    color:#E50101;
    cursor: pointer
}
.navbarSec .smallest aside > ul div ul
{
    margin-left: 30px;
    transition: 0.5s;
    height: 0;
    overflow: hidden
}
.navbarSec .smallest aside > ul div label{
    width:100%;
    position: relative;
    margin: 0
}
.navbarSec .smallest aside > ul div label::after
{
    content: "\f107";
    font-family:'fontAwesome';
    position: absolute;
    right:0;
    top:30%;
    transition: 0.4s
}
.navbarSec .smallest aside > ul div input:checked ~ label::after
{
    transform: rotate(180deg)
}
.navbarSec .smallest aside > ul div input:checked ~ ul
{
   height: 60px
}
.navbarSec .smallest aside > ul div input:checked ~ .another-drop
{
    height: 30px
}

@media(max-width:992px)
{
    .navbarSec nav
    {
        height:85px;
        background:white;
        padding:10px 10px;
        border-bottom: 1px solid #ddd;
    }
     .navbarSec nav .logo
    {
        text-align: left;
        aspect-ratio: 2 /1;
    }
    .navbarSec nav .logo a
    {
        display: block;
        width:100%;
        height: 100%;
    }
     .navbarSec nav .logo img
    {
        width:100%;
        height: 100%;
        border-radius:2px;
    }

}
@media(max-width:1200px) and (min-width:992px)
{
 .navbarSec nav
    {
        height:65px;
        background:#fff;
        padding:0 10px
    }
     .navbarSec nav .logo
    {
        text-align: right;
        margin-left: 40px
    }
     .navbarSec nav .logo img
    {
        width:100%;
        height: 100%;
        border-radius:2px;
    }    
}
/* ------------------------------ end sacand part of wep sit (nav) ------------------------- */






/* Call-to-action Section - Home Page
------------------------------*/
.call-to-action {
    --color-default: #ffffff;
    --color-background: #000000;
    --color-background-rgb: 0, 0, 0;
    padding: 100px 0;
    position: relative;
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
  
  .call-to-action img {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
  }
  
  .call-to-action:before {
    content: "";
    background: rgba(var(--color-background-rgb), 0.6);
    position: absolute;
    inset: 0;
    z-index: 2;
  }
  
  .call-to-action .container {
    position: relative;
    z-index: 3;
  }
  
  .call-to-action h3 {
    font-size: 35px;
    font-weight: 600;
    font-family: "Cairo", sans-serif;
    color: var(--color-default);
    margin-bottom: 15px;
  }
  
  .call-to-action p {
    color: var(--color-default);
    font-size: 17px;
    font-family: "Cairo", sans-serif;
  }
  
  .call-to-action .cta-btn {
    
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 5px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
    font-family: "Cairo", sans-serif;
    background: #E50101;
    border: 2px solid #E50101;
  }
@media (max-width:600px) {
  .call-to-action h3 {
    font-size: 23px;
  }
  .call-to-action p {
    font-size: 15px;
  }
  .call-to-action .cta-btn {
    padding:10px 40px;
    font-size: 13px;
  }
}
  







/* ------------------------------ start forth part of wep sit (mel) ------------------------- */
.mels{
    direction:  rtl;
    text-align: right;
    overflow: hidden
}
.mels .pairant
{
    display: flex;
    flex-wrap: wrap
}
.mels .pairant .child1,
.mels .pairant .child2
{
    width:50%;
    height: 350px;
    position: relative;
    overflow: hidden;
     perspective:600px

}
.mels .pairant div img
{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    top:0;
}


.mels .pairant div div
{
    position: absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    z-index: 6;
    padding: 90px 0px 0 80px
}
.mels .pairant > div div span
{
    font-size: 35px;
    font-weight:700;
    font-family: serif;
    color:#F0542C;
    display:block
}
.mels .pairant > div div h4
{
    font-family: 'Raleway';
    color:white;
    font-size: 45px
}
.mels .pairant > div div p
{
    color: white;
    font-style: italic;
    font-size: 17px
}
.mels .pairant > div div a
{
    display: block;
    width:150px;
    text-align: center;
    color:white;
    background:#E50101;
    border-radius: 19px;
    padding: 5px 0;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 17px;
    transition: 0.5s;
    text-decoration: none;
    border:1px solid #E50101;

}
.mels .pairant > div div a:hover
{
    border:1px solid #E50101;
    color:#E50101;
    background:transparent
}

.mels .pairant div:hover img
{
     transform: translatez(70px);
}
@media(max-width:992px)
{
    .mels .pairant .child1,
    .mels .pairant .child2
    {
        width:100%;
    }
}
/* ------------------------------ end thered part of wep sit (mel) ------------------------- */










/* ------------------------------ start forth part of wep sit (about) ------------------------- */
.about
{
    direction:  rtl;
    text-align: right;
    padding: 60px 0;
    overflow:hidden;
}
.about .pairant
{
    display:flex;
    flex-wrap: wrap
}

.about .pairant .child1
{
    width:40%;
    position: relative;
    height: 580px;
    padding-right: 20px;
}
.about .pairant .child1 img:first-child
{
    width:100%;
    height:100%;
    object-fit: cover;
    border:1px solid #eee
}.about .pairant .child1 div
{
    position: absolute;
    z-index: 2;
    left: 30px;
    bottom: -45px;
    top: 50%;
    right: 40%;
    
}
.about .pairant .child1 div img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:1px solid #eee

}

.about .pairant .child2
{
    width:60%;
    padding-left:0px;
    padding-top:50px
}
.about .pairant .child2 li {
    justify-content: space-between;
}
.about .pairant .child2 li:hover {
    cursor: pointer;
}
.about .pairant .child2 li:hover .icon i {
    color: #E50101;
}
.about .pairant .child2 .icon {
    width:50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-left: 20px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.about .pairant .child2 .icon i {
    font-size: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.about .pairant .child2 .content {
    width:calc(100% - 70px)
}
.about .pairant .child2 h2
{
    font-family: "Cairo", sans-serif;
    color: #E50101;
    margin-bottom:15px;
    font-weight:600;
    font-size: 25px;
}

.about .pairant .child2 h3
{
    font-family: "Montserrat";
    color: #1A0D01;
    font-size:40px;
    font-weight:900;
    text-transform: capitalize;
    margin-bottom:20px
    
}
.about .pairant .child2 p
{
    font-size:15px;
    margin-bottom:35px;
    font-family: "Cairo", sans-serif;
    font-weight:400;
}
.about .pairant .child2 h4
{
    font-family: 'Raleway'
}
@media(max-width:768px)
{
    .about .pairant .child1,
    .about .pairant .child2
    {
        width:100%;
        
    }
}
@media(min-width:768px) and (max-width:992px)
{
.about .pairant .child2 p
    {
        line-height:1.3;
        margin-bottom: 10px
    }
}
/* ------------------------------ end forth part of wep sit (about) ------------------------- */



/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/
.gallery {
    overflow: hidden;
    padding:80px 0
  }
  .gallery .section-header {
    text-align: center;
    padding-bottom: 30px;
  }
  .gallery .section-header span {
    color: #E50101;
  }
  .gallery .section-header h2 {
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: "Cairo", sans-serif;
    margin-bottom: 20px;
  }
  
  .gallery .section-header p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: "Cairo", sans-serif;
    color: #7f7f90;
  }
  
  .gallery .section-header p span {
    color: #E50101;
  }
  .gallery .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .gallery .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #d1d1d7;
    opacity: 1;
  }
  
  .gallery .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #E50101;
  }
  
  .gallery .swiper-slide-active {
    text-align: center;
  }
  
  @media (min-width: 992px) {
    .gallery .swiper-wrapper {
      padding: 40px 0;
    }
  
    .gallery .swiper-slide-active {
      border: 6px solid #E50101;
      padding: 4px;
      background: #fff;
      z-index: 1;
      transform: scale(1.2);
    }
  }
  






/* ------------------------------ end fifth part of wep sit (videw) ------------------------- */
.videw
{
    direction:  rtl;
    text-align: right;
    background-image:url('../img/video/video.png');
    background-size:cover;
    background-position:center;
    position: relative;
    text-align: center;
}
.videw .back
{
    
    background:rgb(4, 14, 39,0.4);
    width: 100%;
    padding:150px 0;
}
.videw .back .over h4
{
    font-family: "Paytone One";
    color:white;
    font-size:60px;
    margin-bottom: 15px
}
.videw .back .over p
{
    color:white;
    font-weight:600;
    font-family: "Montserrat";
    font-size: 26px
}
.videw .back .over div
{
    margin: auto;
    width:100px;
    height:100px;
    border-radius:50%;
    background:#F0542C;
    position: relative
    
}
.videw .back .over div::after
{
    position: absolute;
    content:"\f04b";
    font-family:'fontawesome';
    color:white;
    font-size: 32px;
    left:41px;
    top:26px;
    cursor: pointer;
    z-index: 3
}
.videw .back .over div::before
{
    content: "";
    border:3px solid white;
    background:transparent;
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom: 0px;
    animation: spine 1.5s linear infinite;
    z-index: 2;
    border-radius: 50%;
    filter: blur(2px)
}

@keyframes spine
{
    from
    {
     left:50px;
     right:50px;
     top:50px;
     bottom: 50px;
    }
    to
    {
     left:0px;
     right:0px;
    top:0px;
    bottom: 0px;
    }
}
@media(min-width:576px)
{
.videw .back
    {
        padding: 70px 0;
    }
    .videw .back .over h4
    {
    font-size:40px;
    }
}
@media(min-width:0)
{
.videw .back
    {
        padding: 60px 0;
    }
    .videw .back .over h4
    {
    font-size:45px;
    }
} 
@media(min-width:768px)
{
.videw .back
    {
        padding: 90px 0;
    }
    .videw .back .over h4
    {
    font-size:50px;
    }
}
@media(min-width:992px)
{
.videw .back
    {
        padding: 150px 0;
    }
    .videw .back .over h4
    {
    font-size:60px;
    }
}
/* ------------------------------ end fifth part of wep sit (videw) ------------------------- */
    
    
    
    
    

/*# Testimonials Section
--------------------------------------------------------------*/
.testimonials {
    padding:50px 0;
    background-color: #eee;
}
.testimonials .section-header {
    text-align: center;
    padding-bottom: 30px;
  }
  
.testimonials .section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #7f7f90;
    text-transform: uppercase;
    font-family: "Cairo", sans-serif;
    margin-top: 20px;
}

.testimonials .section-header p {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    font-family: "Cairo", sans-serif;
    font-family: #E50101;
}

.testimonials .section-header p span {
    color: #E50101;
}
.testimonials .section-header {
  margin-bottom: 0px;
}
.testimonials{
  text-align: center;
}
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials  p {
  margin-bottom: 20px;
}

.testimonials .testimonial-item .testimonial-img {
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: var(--color-default);
  font-family: "cairo", sans-serif;
  font-weight: 500;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #6c757d;
  margin: 0 0 10px 0;
  font-family: "cairo", sans-serif;

}

.testimonials .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #f05656;
  font-size: 26px;
  line-height: 0;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  right: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  left: -5px;
  position: relative;
  top: 10px;
  transform: scale(-1, -1);
}

.testimonials .testimonial-item p {
  font-family: "cairo", sans-serif;
  font-size: 15px;

}

.testimonials .swiper-pagination {
  margin-top: 40px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #d1d1d7;
  opacity: 1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #E50101;;
}

/*--------------------------------------------------------------
# Events Section



/* ------------------------------ start seven part of wep sit (swets) ------------------------- */
.swets-part
{
    padding:60px;
    overflow: hidden;
    
}
.swets-part .pairant
{
    flex-wrap:wrap
}
.swets-part .pairant > div
{
    padding: 0 19px;
    width:25%;
    margin-bottom:30px;
}
.swets-part .pairant .img
{
    width:244px;
    height:244px;
    margin: auto;
    position: relative;
    border-radius:50%;
    overflow: hidden;
    perspective: 500px
}
.swets-part .pairant .img img
{
    width: 100%;
    height: 100%;
    transition:0.5s;
    transform: scale(1.1)
}

.swets-part .pairant .img::after
{
    content:"";
    position: absolute;
    left: 40px;
    right: 40px;
    top:40px;
    bottom:40px;
    background:rgba(0,0,0,0.4);
    border-radius:50%;
    border:2px dotted white;
    animation:spiner linear 5s infinite;
    z-index: 1;
    transition: 0.5s;
    opacity: 0
    
}
.swets-part .pairant > div:hover .img::after
{
    left: 15px;
    right: 15px;
    top:15px;
    bottom:15px;  
    opacity: 1
}
.swets-part .pairant > div:hover .img::before
{
    transform: scale(1);
    opacity: 1
}
.swets-part .pairant > div .img:hover img
{
    transform: scale(1)
}

.swets-part .pairant .img::before
{
    content:"\f16d";
    opacity: 0;
    font-family:'fontawesome';
    position: absolute;
    left:45%;
    top:46%;
    font-size:29px;
    color:white;
    z-index: 2;
    transition: 0.5s;
    transform: scale(0.8)   
}


@keyframes spiner 
{
   from
    {
        transform: rotate(0)
    } to
    {
        transform: rotate(360deg)
    }
}

@media(min-width:0)
{
.swets-part .pairant > div
    {
        width:100%;
    }
}
@media(min-width:576px)
{
.swets-part .pairant > div

    {
        width:50%;
    }
}
@media(min-width:992px)
{
.swets-part .pairant > div
    {
        width:25%;
    }
}

/* ------------------------------ end seven part of wep sit (swets) ------------------------- */





/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients  {
    margin: auto;
    overflow: hidden;
    padding: 80px 90px;
    background-color: #eee;
}
.clients .section-header {
    text-align: center;
    padding-bottom: 30px;
  }
  
.clients .section-header h2 {
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: "Cairo", sans-serif;
    margin-bottom: 15px;
}
.clients .section-header h2 span {
  color: #E50101;
}
.clients .section-header p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: "Cairo", sans-serif;
    color: #7f7f90;
}

.clients .section-header p span {
    color: #E50101;
}
.clients .clients-slider .swiper-slide img {
    opacity: 0.5;
    transition: 0.3s;
  }
  
  .clients .clients-slider .swiper-slide img:hover {
    opacity: 1;
  }
  
  .clients .clients-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .clients .clients-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #E50101;
  }
  
  .clients .clients-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #E50101;
  }
  

  @media (max-width:600px) {
    .clients {
      padding: 90px 0 !important
    }
  }
  /* Call-to-action Section - Home Page



/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact {
    padding:80px 0;
    direction: rtl;
    text-align: right;
}
.contact .section-header {
    text-align: center;
    padding-bottom: 30px;
  }
  
.contact .section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #7f7f90;
    text-transform: uppercase;
    font-family: "Cairo", sans-serif;
    margin-bottom: 20px;
}

.contact .section-header p {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    font-family: "Cairo", sans-serif;
    font-family: #E50101;
}

.contact .section-header p span {
    color: #E50101;
}
.contact .nav-pills .nav-link.active, .nav-pills .nav-link{
    width: 100%;
    text-align: center;
    color: #E50101;
    background: #fff;
    font-family: "Cairo", sans-serif;
    font-size: 14px !important;

  }
  .contact .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: #E50101;
    color: #fff; 
  }
  .contact .nav-pills{
    background: #ebebeb;
    padding: 10px;
    border-radius: 6px;
  
  }
  
  .contact .info-item {
    background: #f4f4f4;
    padding: 30px;
    height: 100%;
  }
  
  
  .contact .info-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    font-size: 24px;
    line-height: 0;
    color: #fff;
    background: #E50101;
    border-radius: 50%;
    margin-inline-end: 15px;
  }
  
  .contact .info-item h3 {
    font-size: 20px;
    color: #6c757d;
    font-weight: 700;
    margin: 0 0 5px 0;
    font-family: "Cairo", sans-serif;
  }
  
  .contact .info-item p {
    padding: 0;
    margin: 0;
    line-height: 24px;
    font-size: 14px;
    font-family: "Cairo", sans-serif;
  }
  
  .contact .info-item .social-links a {
    font-size: 24px;
    display: inline-block;
    color: rgba(55, 55, 63, 0.7);
    line-height: 1;
    margin: 4px 6px 0 0;
    transition: 0.3s;
    font-family: "Cairo", sans-serif;
  }

  
  .contact .info-item .social-links a:hover {
    color: #E50101;
  }
  
  .contact .php-email-form {
    width: 100%;
    margin-top: 30px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 20px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #df1529;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #059652;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #059652;
    border-top-color: #fff;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: #E50101;
  }
  
  .contact .php-email-form input {
    height: 48px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #E50101;
    border: 0;
    padding: 12px 40px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #ec2727;
  }
  @media (min-width: 1200px){
    .contact .container {
        max-width: 1296px;
    }
}
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
@media (max-width:600px) {
  .contact .info-item {
    padding: 18px;
    
  }
  .contact .info-item h3 {
    font-size: 17px;
  }
}


/* start fifth part footer */
.footer
{
  direction: rtl;
  text-align: right;
    padding-top:60px;
    overflow: hidden;
}
.footer .map
{
    width:100%;
    height:260px;
}
.footer .map iframe
{
    width:100%;
    height:100%;
}
.footer footer
{
    background:#26313C;
    padding:50px 0 0;
}
.footer footer .container .row > div a
{
    color:white;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    font-size: 14px;
    transition:0.3s;
    position: relative
}
.footer footer .container .row > div h3
{
    font-size:27px;
    color:white;
    font-weight:450;
    margin-bottom:30px;
    font-family: "Cairo";

}
.footer footer .container .row .one > a > img
{
    width:120px;
    margin-bottom:25px;
    display:block;
}
.footer footer .container .row .one h4 
{
  color:white;
  font-size: 17px;
  font-family: "Cairo";
  margin:0 0 15px 
}
.footer footer .container .row .one p
{
    font-size:13px;
    color:white;
    font-weight:400;
    font-style: italic;
    margin-bottom:30px;
    font-family: "Cairo";
}
.footer footer .container .row .one div
{
    display: flex;
    align-items: center;
    margin-bottom: 30px
}
.footer footer .container .row .one div i
{
    font-size:48px;
    color:white;
    margin-left:15px;
}
.footer footer .container .row .one ul li a:hover {
  color:#E50101 !important;
  border-color: #E50101 !important;
}

.footer footer .container .row .one ul li a:hover svg  {
  fill:#E50101 
}
.footer footer .container .row .one div span a
{ 
    font-size:13px;
    font-family: "Cairo";
}
.footer footer .container .row .one div span span
{
    margin-bottom:12px;
    color:white;
    font-size: 13px;
    font-family: "Cairo";

}
.footer footer .container .row .one ul li
{
    display: inline-block;
    margin-right:5px;
}
.footer footer .container .row .one ul li:last-of-type a {
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
}
.footer footer .container .row .one ul li svg {
  width:18px;
  height: 18px;
  fill:#fff
}
.footer footer .container .row .one ul li a {
  width:30px;
  height:30px;
  display: block;
  border:1px solid #eee;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer footer .container .row .one ul li a i
{
    position: relative;
    background:transparent;
    font-size:14px;
}

/* .footer footer .container .row .one ul li i::before
{
    position: absolute;
    z-index: 2;
    right:50%;
    top:50%;
    transform:translate(-50%,-50%);
    color:white;
} */
/* .footer footer .container .row .one ul li i::after
{
    position: absolute;
    z-index: 1;
    right:0;
    content:"";
    top:0;
    width:100%;
    height:100%;
    border-radius: 50%;
    transition:0.4s;
    transform:scale(0);
    background:#4267B2;
} */
/* .footer footer .container .row .one ul li:hover i::after
{
    transform:scale(1)
}
.footer footer .container .row .one ul li:nth-child(2) i::after
{
    background: #1DA1F2;
}
.footer footer .container .row .one ul li:nth-child(3) i::after
{
    background: #0077B5;
}
.footer footer .container .row .one ul li:nth-child(4) i::after
{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%) !important;
} */
.footer footer .container .row .tow ul li
{
    margin-bottom:16px;
}
.footer footer .container .row .tow ul hr
{
   background:#4e4e4e !important;
    margin-bottom:16px !important
}
.footer footer .container .row .tow ul li a:nth-child(2)
{
    color:#ec2727;
}
.footer footer .container .row .tow ul li:hover a
{
    color:#ec2727;
}
.footer footer .container .row .thre ul li:hover a
{
    color:#ec2727;
    font-family: "Cairo";

}
.footer footer .container .row .thre ul li:hover a::before
{
    margin-right: 10px;
}
.footer footer .container .row .thre ul li
{
    margin-bottom: 15px;
    font-family: "Cairo";
}
.footer footer .container .row .thre ul li a::before
{
    content: "\f0da";
    color: #475869;
    margin-left: 5px;
    font-family:"fontawesome";
    top:50%;
    right:-10px;
    transform: translateY(-50%);
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.footer footer .container .row .four p,
.footer footer .container .row .four ul li

{
    font-size: 14px;
    font-weight:450;
    font-style: italic;
    margin-bottom:30px;
    color:white;
    font-family: "Cairo";
}
.footer footer .container .row .four ul li
{
    font-style: normal;
    margin-bottom: 0px
}
.footer footer .container .row .four ul:not(:last-of-type) {
  margin-bottom:20px
}

@media(max-width:992px) {
    .footer footer .container .row > div{
        margin-bottom:40px
    }
.footer footer .container .row > div h3
    {
        font-size:22px;
        font-family: "Cairo";

    }
.footer footer
    {
      padding-bottom:0px;  
    }
    .footer .lower_footer p {
      width: 100% !important;
      font-size: 16px !important;
    }
}
/* end fifth part footer */

.footer .lower_footer p {
  font-family: "Cairo";
  color:white;
  font-weight: 300;
  width: 50%;
  padding-bottom: 10px;
  margin:0 auto ;
  font-size: 13px;
  opacity: 0.7;

}
.footer .lower_footer p:hover {
  opacity: 1;
}
.footer .lower_footer p a {
  color:#eee;
}
hr {
  background-color: white;
  border:0;
  border-bottom: 1px solid #eee;
  padding:0;
  opacity: 0.5;

}























/*--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #E50101;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}
.scroll-top {
  border : none
}
.scroll-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.scroll-top:hover {
  background: #E50101;
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
/* #preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
}

#preloader:before,
#preloader:after {
  content: "";
  position: absolute;
  border: 4px solid #E50101;
  border-radius: 50%;
  -webkit-animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#preloader:after {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }

  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}

@keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }

  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
} */




/*--------------------------------------------------------------*/

.whats-icon i {
    position: fixed;
    display: inline-block;
    width: 50px;
    height: 50px;
    bottom: 15px;
    left: 15px;
    line-height: 45px;
    background-color: #4CED69;
    color: #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    z-index: 100;
  }


  #preloader {
    height: 100vh;
    padding: 2rem;
    display: grid;
    place-items: center;
    text-align: center;
    background: white;
    overflow-y: hidden;
    position:fixed;
    z-index: 2000;
    top:0;
    width:100%;
    height: 100%;
    left: 0;
  }
  
  .loader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 50px;
    margin: 0 auto;
  }
  
  @keyframes leap {
    50% {transform: translateY(-15px)}
    100% {transform: translateY(0px)}
  }
  
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: leap 1s infinite;
  }
  
  .dot:nth-child(1) {
    background-color: rgb(229, 1, 1 , 0.4);
    box-shadow: 0px 0px 5px 0.1px rgba(20,20,20,0.6);
  }
  
  .dot:nth-child(2) {
    background-color: rgb(229, 1, 1 , 0.6);
    animation-delay: .15s;
    box-shadow: 0px 0px 5px 0.1px rgba(20,20,20,0.6);
  }
  
  .dot:nth-child(3) {
    background-color: rgb(229, 1, 1 , 0.8);
    animation-delay: .3s;
    box-shadow: 0px 0px 5px 0.1px rgba(20,20,20,0.6);
  }
  

  .carousel .swiper-horizontal>.swiper-pagination-bullets,   .carousel .swiper-pagination-bullets.swiper-pagination-horizontal, .carousel .swiper-pagination-custom, .carousel.swiper-pagination-fraction {
    bottom : 180px !important;
    z-index: 60;
  }

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: rgb(229, 1, 1 , 1) !important;
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}

@media (max-width:768px) {
  .header-curosal .swiper-slide {
    height: 80vh;
  }
  .carousel .swiper-horizontal>.swiper-pagination-bullets, .carousel .swiper-pagination-bullets.swiper-pagination-horizontal, .carousel .swiper-pagination-custom, .carousel.swiper-pagination-fraction {
      bottom:20px !important
    }
}



.menue {
    width: 100%;
    padding:100px 0;
}
.menue .image {
    width:100%;
}
.menue .image img {
    width:100%;
    object-fit: contain;
}